body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

/******************************************************************************/

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/******************************************************************************/

.hero {
  background-color: #000;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
}

dotlottie-player {
  margin: 0 auto;
}

/******************************************************************************/

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/******************************************************************************/

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 20px;
}


button:hover {
  background-color: #0056b3;
}

/******************************************************************************/
.product {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

.product-images img {
  background-color: #fff;
  width: 300px;
  height: auto;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


/******************************************************************************/
.features {
  padding: 50px 0;
  text-align: center;
}

.feature-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.feature {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.1em;
  color: #666;
}

.feature img {
  max-width: 100%;
  max-height: 100%;
}

/******************************************************************************/

.logo-container {
  position: absolute;
  top: 5px;
  left: 5px;
}

.logo-link {
  display: block;
  text-align: center;
}

.logo {
  width: 50px;
  height: auto;
  padding: 5px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/******************************************************************************/

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-nav .logo-container {
  margin-left: 20px;
}

.sticky-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.sticky-nav ul li {
  margin: 0 10px;
}

.sticky-nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 15px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.sticky-nav ul li a:hover {
  background-color: #f5f5f5;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/******************************************************************************/
