body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

/******************************************************************************/

.logo-container {
    position: absolute;
    top: 5px;
    left: 5px;
}

.logo-link {
    display: block;
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
    padding: 5px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/******************************************************************************/

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-nav .logo-container {
    margin-left: 20px;
}

.sticky-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.sticky-nav ul li {
    margin: 0 10px;
}

.sticky-nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.sticky-nav ul li a:hover {
    background-color: #f5f5f5;
}

/******************************************************************************/

.container {
    display: flex;
    background: linear-gradient(145deg, #22242b, #000);
    padding: 30px;
    border-radius: 15px;
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
    border: 0.2px solid rgba(201, 201, 201, 0.623);
}

/******************************************************************************/

.imgBx {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBx img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.imgBx img:hover {
    transform: scale(1.05);
}

/******************************************************************************/

.details {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************************************************************/

.content {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.5;
}

/******************************************************************************/

.color-options {
    display: flex;
    margin-bottom: 20px;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.color-option.active {
    border: 2px solid #333;
}

.color-option:hover {
    border: 2px solid #007bff;
}

/******************************************************************************/

.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    border-radius: 30px; /* Cambia a bordes más redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Agrega transformación */
    font-size: 1.1em; /* Aumenta el tamaño del texto */
}

.buy-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Efecto hover */
}

/******************************************************************************/

.model-selector {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 1em;
    margin-bottom: 20px;
    margin-bottom: 20px; /* Asegura un buen espacio entre el selector y los colores */
}
